.main {
  max-width: 1600px;
  margin: auto;
  padding: clamp(82px, 12vw, 122px) clamp(24px, 3vw, 36px);
  @media (max-width: 500px) {
    padding: 24px;
  }
}
.download {
  width: fit-content;
  font-family: var(--header-text-font);
  font-size: clamp(24px, 3vw, 36px);
  padding: clamp(12px, 1vw, 14px) clamp(16px, 2vw, 20px);
  margin-bottom: 36px;
  outline: 1px solid var(--black);
  transition: all 0.5s ease-in-out;
  &:hover,
  :focus {
    color: var(--yellow);
    box-shadow: inset 6.5em 0 0 0 var(--black);
  }
  @media (max-width: 500px) {
    max-width: 50%;
  }
}
.skillsAndExperience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & > *:not(:first-child) {
    @media (max-width: 500px) {
      margin-bottom: 36px;
    }
  }
  @media (max-width: 500px) {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (max-width: 500px) {
    align-items: flex-start;
  }
}
.githubSection {
  width: fit-content;
  margin: auto;
  margin-top: clamp(82px, 12vw, 122px);
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-items: center;
  grid-gap: clamp(14px, 2vw, 24px);
  transition: all 0.3s ease-in-out;
  &:hover,
  :focus {
    transform: scale(1.1);
  }
  @media (max-width: 1000px) {
    grid-template-columns: repeat(1, auto);
  }
  @media (max-width: 500px) {
    margin-top: 48px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.githubLogo {
  height: clamp(24px, 3vw, 32px);
}
.githubText {
  font-family: var(--header-text-font);
  font-size: clamp(24px, 3vw, 36px);
  @media (max-width: 500px) {
    text-align: center;
  }
}
