.main {
  max-width: 1600px;
  margin: auto;
  padding: 122px 36px;
}
.download {
  width: fit-content;
  font-family: var(--header-text-font);
  font-size: 36px;
  padding: 14px 20px;
  margin-bottom: 36px;
  outline: 1px solid var(--black);
  transition: all 0.5s ease-in-out;
  &:hover,
  :focus {
    color: var(--yellow);
    box-shadow: inset 6.5em 0 0 0 var(--black);
  }
}
.skillsAndExperience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.experienceList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.experienceItem {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 36px;
  }
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.skillsItem {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &:not(:last-child):not(:first-child) {
    margin-bottom: 12px;
  }
}
.githubSection {
  width: fit-content;
  margin: auto;
  padding-top: 122px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-items: center;
  grid-gap: 24px;
  transition: all 0.3s ease-in-out;
  &:hover,
  :focus {
    transform: scale(1.1);
  }
}
.githubLogo {
  height: 32px;
}
.githubText {
  font-family: var(--header-text-font);
  font-size: 36px;
}
@media (max-width: 1000px) {
  .githubText,
  .download {
    font-size: 24px;
  }
  .experienceItem:not(:last-child) {
    margin-bottom: 24px;
  }
  .githubSection {
    padding-top: 82px;
    grid-template-columns: repeat(1, auto);
    grid-gap: 14px;
  }
  .main {
    padding: 82px 24px;
  }
  .githubLogo {
    height: 24px;
  }
  .skillsItem {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}
@media (max-width: 500px) {
  .main {
    padding: 24px;
  }
  .githubSection {
    padding-top: 48px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skillsAndExperience {
    flex-direction: column-reverse;
    justify-content: space-between;
    & > *:not(:first-child) {
      margin-bottom: 36px;
    }
  }
  .skillsItem,
  .skills {
    align-items: flex-start;
  }
  .download {
    max-width: 50%;
  }
  .githubText {
    text-align: center;
  }
}
