.fullScreenMenuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media (max-width: 500px) {
    display: none;
  }
}
