.titleContainer {
  @media (max-width: 500px) {
    width: 100%;
  }
}
.titleContainerItem,
.titleContainerItemText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: inherit;
  text-decoration: inherit;
  @media (max-width: 500px) {
    align-items: flex-start;
  }
}
.titleContainerItem {
  @media (max-width: 500px) {
    width: 100%;
  }
}
.titleContainerItemText {
  margin-right: 24px;
}
.linkText {
  font-family: var(--header-text-font);
  font-size: 24px;
  @media (max-width: 1000px) {
    font-size: 18px;
  }
}
.expandBtn {
  height: 32px;
  width: 32px;
  transition: all 0.5s ease-in-out;
  @media (max-width: 1000px) {
    height: 24px;
    width: 24px;
  }
}
.collapse {
  transform: rotate(180deg);
}
.title,
.year {
  font-family: var(--header-text-font);
  font-size: 36px;
  @media (max-width: 1000px) {
    font-size: 24px;
  }
  @media (max-width: 500px) {
    text-align: left;
  }
}
.year {
  opacity: 50%;
}
.text {
  max-width: 55vw;
  padding-left: 82px;
  padding-top: 36px;
  @media (max-width: 1000px) {
    padding-left: 62px;
    padding-top: 24px;
  }
  @media (max-width: 500px) {
    width: 100%;
    max-width: 100%;
    padding: 24px 0;
  }
}
.hiddenText {
  display: none;
}
