.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 36px;
}
.verticalImg {
  max-width: calc((100vw - 4 * 36px) / 3);
  grid-row-start: 1;
  grid-row-end: 3;
}
.horizontalImg {
  max-width: calc((100vw - 4 * 36px) / 3);
}
.verticalImgLeft {
  grid-column-start: 1;
  grid-column-end: 2;
}
.verticalImgMiddle {
  grid-column-start: 2;
  grid-column-end: 3;
}
.verticalImgRight {
  grid-column-start: 3;
  grid-column-end: 4;
}
