.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: clamp(24px, 3vw, 36px);
  margin-bottom: clamp(24px, 3vw, 36px);
  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 24px;
    margin-bottom: 24px;
  }
}
.verticalImg {
  max-width: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  @media (max-width: 500px) {
    max-width: 100%;
    width: 100%;
  }
}
.horizontalImg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  @media (max-width: 500px) {
    max-width: 100%;
  }
}
.verticalImgLeft {
  grid-column-start: 1;
  grid-column-end: 2;
  @media (max-width: 500px) {
    grid-column-start: 1;
    grid-column-end: 1;
  }
}
.verticalImgMiddle {
  grid-column-start: 2;
  grid-column-end: 3;
  @media (max-width: 500px) {
    grid-column-start: 1;
    grid-column-end: 1;
  }
}
.verticalImgRight {
  grid-column-start: 3;
  grid-column-end: 4;
  @media (max-width: 500px) {
    grid-column-start: 1;
    grid-column-end: 1;
  }
}
