.main {
  padding: 36px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 36px;
  background-color: var(--white);
}

@media (max-width: 1000px) {
  .main {
    padding: 24px;
    grid-gap: 24px;
  }
}

@media (max-width: 500px) {
  .main {
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }
}
