.main {
  padding-left: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.description {
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lettersImage {
  max-width: 100%;
}
.myPhoto {
  max-width: calc(100vw - 57vw);
}
