@import url('../../style/theme.scss');

.main {
  padding: 36px;
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--header-text-font);
  font-size: 24px;
  background-color: var(--yellow);
}
.logo {
  height: 48px;
}
.link {
  color: inherit;
  text-decoration: inherit;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menuItem {
  opacity: 50%;
  &:hover {
    opacity: 100%;
  }
}
.menuItem:not(:last-child) {
  margin-right: 76px;
}
.isSelected {
  opacity: 100%;
}
.burger {
  height: 36px;
  display: none;
}
.fullScreenMenu {
  display: none;
  padding: 0 36px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--yellow);
}
.fullScreenMenuOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fullScreenMenuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.close {
  position: absolute;
  top: 24px;
  right: 24px;
}
// TODO: все media можно писать внутри соответстующих селекторов
// Например .main { @media (max-width: 1000px) { } }
@media (max-width: 1000px) {
  .main {
    padding: 24px;
    font-size: 18px;
  }
  .logo {
    height: 36px;
  }
  .menuItem:not(:last-child) {
    margin-right: 36px;
  }
}
@media (max-width: 500px) {
  .main {
    padding: 24px;
    font-size: 14px;
  }
  .logo {
    height: 36px;
  }
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .fullScreenMenuListItem:not(:last-child) {
    margin-bottom: 48px;
    margin-right: 0;
  }
}
