@import url('../../style/theme.scss');

.main {
  padding: clamp(24px, 3vw, 36px);
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--header-text-font);
  font-size: clamp(14px, 2vw, 24px);
  background-color: var(--yellow);
}
.logo {
  height: clamp(36px, 4vw, 48px);
}
.burger {
  height: 36px;
  display: none;
  @media (max-width: 500px) {
    display: block;
  }
}
.fullScreenMenu {
  display: none;
  padding: 0 36px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--yellow);
}
.fullScreenMenuOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
