@import url('./theme.scss');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--simple-text-font);
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background: var(--back-color);
  & * {
    box-sizing: border-box;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p,
h2 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.frozen {
  overflow: hidden;
}
