@import url('./theme.scss');

body {
  margin: 0;
  font-family: var(--simple-text-font);
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background: var(--back-color);
}

svg {
  width: 16px;
  height: 16px;
  fill: var(--text-color);
}
