@import url('../../style/theme.scss');

.icon {
  height: clamp(36px, 5vw, 64px);
  margin-bottom: clamp(18px, 2vw, 24px);
  margin-left: clamp(18px, 2vw, 24px);
  @media (max-width: 500px) {
    height: 48px;
    margin-bottom: 18px;
    margin-right: 18px;
    margin-left: 0;
  }
}
.header {
  padding-bottom: 24px;
  font-family: var(--header-text-font);
  font-size: clamp(24px, 3vw, 36px);
}
.iconsContainer {
  max-width: 25vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  @media (max-width: 500px) {
    max-width: 70vw;
    justify-content: flex-start;
  }
}
