@import url('../../style/theme.scss');

.icon {
  height: 64px;
  margin-bottom: 24px;
  margin-left: 24px;
}
.header {
  padding-bottom: 24px;
  font-family: var(--header-text-font);
  font-size: 36px;
}
.iconsContainer {
  max-width: 25vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (max-width: 1000px) {
  .header {
    font-size: 24px;
  }
  .icon {
    height: 36px;
    margin-bottom: 18px;
    margin-left: 18px;
  }
}

@media (max-width: 500px) {
  .icon {
    height: 48px;
    margin-bottom: 18px;
    margin-right: 18px;
    margin-left: 0;
  }
  .iconsContainer {
    max-width: 70vw;
    justify-content: flex-start;
  }
}
