.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: inherit;
  text-decoration: inherit;
}
.linkLogo {
  height: 24px;
  width: 24px;
  margin-right: 12px;
  fill: var(--black);
  transition: all 0.3s ease-in-out;
}
a:hover > .linkLogo,
a:focus > .linkLogo {
  margin-right: 24px;
}
.linkText {
  font-family: var(--header-text-font);
  font-size: clamp(18px, 2vw, 24px);
}
