.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  color: inherit;
  text-decoration: inherit;
  transition: all 0.3s ease-in-out;
  &:hover,
  :focus {
    gap: 24px;
  }
}
.linkText {
  font-family: var(--header-text-font);
  font-size: 24px;
}
@media (max-width: 1000px) {
  .linkText {
    font-size: 18px;
  }
}
.linkLogo {
  height: 24px;
  width: 24px;
  fill: var(--black);
}
