.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: inherit;
  text-decoration: inherit;
}
.linkLogo {
  height: 24px;
  width: 24px;
  margin-right: 12px;
  fill: var(--black);
  transition: all 0.3s ease-in-out;
}
a:hover > .linkLogo,
a:focus > .linkLogo {
  margin-right: 24px;
}
.linkText {
  font-family: var(--header-text-font);
  font-size: 24px;
}
@media (max-width: 1000px) {
  .linkText {
    font-size: 18px;
  }
}
