.title {
  margin-bottom: 36px;
  margin-right: clamp(36px, 5vw, 76px);
  font-family: var(--header-text-font);
  font-size: clamp(24px, 3vw, 36px);
  @media (max-width: 500px) {
    text-align: center;
  }
}
.contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 36px;
  @media (max-width: 500px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px 48px;
  }
}
