.title {
  margin-bottom: 36px;
  font-family: var(--header-text-font);
  font-size: 36px;
  @media (max-width: 1000px) {
    font-size: 24px;
  }
  @media (max-width: 500px) {
    text-align: center;
  }
}
.contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 36px;
  @media (max-width: 500px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px 48px;
  }
}
